body {
    background-image: url("images/Fond.png");
    background-size: cover;

}

li {
    display: block;
    position: relative;
    width: 180px;
    height: 35px;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 0;
}

ul {
    padding: 0px;
    display: table;
    vertical-align: middle;
}

ul.sous_menu {
    display: none;
    padding-left: 80px;
    margin: 0;

}

li:hover {

    background-color: rgba(0, 0, 255, 0.2);
    
    color: rgb(0, 255, 255);
}

li:hover>ul.sous_menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 60%;
}

li:hover a {
    color: rgb(0, 255, 255);
}

li:hover ul li a {
    color: rgb(255, 255, 255)
}

li ul li:hover a {
    color: rgb(0, 255, 255);
}

.icon {
    display: block;
    width: 20px;
    float: left;
    padding: 8px;
}

li:hover ul li a {
    padding-left: 8px;
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    text-indent: 35px;
    line-height: 40px;
    width: 172px;
    height: 100%;
    cursor:default;
}
.realLink{
    cursor: pointer;
}
ul li ul li a{
    text-indent: 5px;
}
ul li ul li a.avecIcone{
    text-indent: 30px;
}

a:hover {
    color: rgb(0, 255, 255);
}

li ul li:hover a {
    color: rgb(0, 255, 255);
}

li ul li:hover ul li a {
    color: rgb(255, 255, 255);
}

li ul li ul li:hover a {
    color: rgb(0, 255, 255);
}

li ul li ul li:hover ul li a {
    color: rgb(255, 255, 255);
}

li ul li ul li ul li:hover a {
    color: rgb(0, 255, 255);
}

.subicon {
    float: right;
    height: 15px;
    padding-top: 10px;
    padding-right: 5px;
}

p {
    color: #fff;
    font-size: xx-large;
    margin: 0;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 5px;
}